<div class="row">
  <div class="col-md-8 center-block">
    <div class="card-list">

      <% @questions.each do |question| %>
        <div class="card">
          <h2><%= link_to question.title, question %></h2>
          <% if question.resolved %>
            <p>Answered</p>
          <% else %>
            <p>Not answered</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
