<div class="jumbotron">
  <div class="jumbotron-content text-center">
    <h1 class="brand">Duet</h1>
    <p class="lead">Super fun sharing place for you and your best friend</p>
    <%= link_to "Get started", new_user_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>

<% parent_layout "home" %>
