<div class="row">
  <div class="col-md-8 center-block">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-xs-3 col-md-2">
          <% if post.id.even? %>
            <%= image_tag "kevin.jpg", class: "thumbnail" %>
          <% else %>
            <%= image_tag "foster.jpg", class: "thumbnail" %>
          <% end %>
        </div>
        <div class="col-xs-9 col-md-10">
          <div class="card">
            <h2><%= link_to post.title, post %></h2>
            <img src="holder.js/100px300?text=...">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
