<div class="row">
  <div class="col-md-8 center-block">
    <div class="card-list">

      <% @posts.each do |post| %>
        <div class="card">
          <h2><%= link_to post.title, post %></h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
